.container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	// align-items: center;	/* 一行 */
	/* align-content: space-between;	 多行 */
	justify-content: center;
	font-size: 14px;
	.dragger {
		position: absolute;
		height: 100%;
		width: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 -8px;
		z-index: 1;	// 为了防止被 .right 遮住
		cursor: ew-resize;
		&::after {
			content: '';
			height: calc(100% - 24px);
			width: 4px;
			// background-color: hwb(var(--opposite80)  / 0.2);
			border-radius: 2px;
			background-color: hwb(var(--hoverLightBg) / 0.5);
			box-shadow: 0.5px 1px 4px hwb(var(--hoverShadow) / 0.2),    // 阴影（写在最前面，渲染时最后渲染）
						0 0 0.5px 1.5px hwb(var(--hoverLightBg)), // 斜坡，其中扩展半径是斜坡长度，模糊半径是斜坡底的缓坡
						0 1px 1px 0px hwb(var(--highlight) / 0.5) inset;	// 上高光
			pointer-events: none;
		}
	}
	.toolBox {
		height: 100%;
		box-sizing: border-box;
		text-align: left;
		overflow: hidden;
		.search {
			height: 44px;
			display: flow-root;
			:global .inputbox-selector {
				margin: 12px;
			}
		}
		.filtersList {
			height: calc(100% - 88px);
			display: flex;
			flex-direction: column;
			align-items: stretch;
			overflow: auto;
			.items {
				.item {
					// width: 40px;
					height: 30px;
					box-sizing: border-box;
					padding: 0 8px 0 12px;
					position: relative;
					outline: none;
					border: none;
					margin: 6px;
					color: inherit;
					background-color: hwb(var(--bg99) / 0.8);
					border-radius: 4px;
					// border-left: transparent 3px solid;
					box-shadow: 0 0 1px 0.5px hwb(var(--highlight)),
								0 1.5px 3px 0 hwb(var(--hoverShadow) / 0.2);
					transition: all 0.3s cubic-bezier(0, 1.5, 0.3, 1);
					cursor: grab;
					&:not(&:active):hover::after {
						content: '';
						position: absolute;
						top: 0;
						left: -3px;
						width: calc(100% + 3px);
						height: 100%;
						border-radius: inherit;
						// background: hwb(0 100% 0% / 0.2);
						box-shadow: 0 0 2px hwb(var(--hoverShadow) / 0.2);
						z-index: 1;
						pointer-events: none;
					}
					&:active {
						background-color: hwb(var(--bg97) / 0.8);
						border-radius: 3px 4px 4px 3px;
						box-shadow: 0 0 2px 1px hwb(var(--hoverShadow) / 0.05), // 外部阴影
									0 3px 6px hwb(var(--hoverShadow) / 0.1) inset; // 内部凹陷阴影
						// border-left: #49e 3px solid;
						cursor: grabbing;
					}
					span {
						display: block;
						font-size: 13px;
						line-height: 30px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						user-select: none;
						-webkit-user-drag: none;
					}
					button {
						position: absolute;
						right: 4px;
						top: 4px;
						width: 22px;
						height: 22px;
						padding: 0 0 4px;
						border: none;
						outline: none;
						background: none;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 4px;
						font-size: 14px;
						cursor: initial;
						&:hover {
							box-shadow: 0 1px 4px hwb(var(--hoverShadow) / 0.2),
										0 4px 2px -2px hwb(var(--highlight) / 0.5) inset;
						}
						&:active {
							box-shadow: 0 0px 1px hwb(var(--hoverShadow) / 0.2),
										0 15px 20px -10px hwb(var(--hoverShadow) / 0.15) inset;
							transform: translateY(0.25px);
						}
					}
				}
			}
			&>.button {
				margin: 12px;
				text-align: center;
			}
		}
		.operations {
			height: 44px;
			display: flex;
			justify-content: stretch;
			align-items: center;
			padding: 0 16px;
			overflow: auto;
			button {
				flex: 1 1 auto;
			}
		}
		.creatingFilter {
			position: fixed;
			width: 120px;
			height: 30px;
			background: linear-gradient(180deg, hwb(var(--bg99)), hwb(var(--bg94)));
			border-radius: 8px;
			text-align: center;
			line-height: 30px;
			transform: translate(-50%, -50%) scale(1);
			opacity: 1;
			transition: transform 0.5s cubic-bezier(0.2, 1.5, 0.5, 1);
			z-index: 5;
			cursor: grabbing;	
		}
		.creatingFilterTransEnterTo, .creatingFilterTransLeaveFrom {
			transform: translate(-50%, -50%) scale(1);
		}
		.creatingFilterTransEnterFrom, .creatingFilterTransLeaveTo {
			transform: translate(-50%, -50%) scale(0);
		}
	}
	.editor {
		position: relative;
		overflow: hidden;
		.center {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 0;
			height: 0;
			.test {
				position: absolute;
				width: 100px;
				height: 50px;
			}
			.xline {
				position: absolute;
				top: 0;
				left: -9999px;
				right: -9999px;
				outline: #77777733 0.5px dashed;
			}
			.yline {
				position: absolute;
				left: 0;
				top: -9999px;
				bottom: -9999px;
				outline: #77777733 0.5px dashed;
			}
			.node {
				position: absolute;
				width: 120px;
				background: linear-gradient(180deg, hwb(var(--bg99)), hwb(var(--bg94)));
				border-radius: 8px;
				transform: translate(-50%, -50%);
				// transition: all 0.04s cubic-bezier(0.2, 1, 0.8, 1);
				cursor: move;
				.name {
					line-height: 100%;
					padding: 0 22px;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.inputList, .outputList {
					position: absolute;
					top: 10px;
					bottom: 10px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 5px;
					.port {
						width: 10px;
						height: 10px;
						border-radius: 5px;
						cursor: crosshair;
						&[data-type="V"] {
							background-color: hwb(var(--video));
							box-shadow: 0 2px 6px hwb(var(--video) / 0.4);
						}
						&[data-type="A"] {
							background-color: hwb(var(--audio));
							box-shadow: 0 2px 6px hwb(var(--audio) / 0.4);
						}
						&[data-type="N"], &[data-type="U"] {
							background-color: hwb(var(--unknown));
							box-shadow: 0 2px 6px hwb(var(--unknown) / 0.4);
						}
					}
				}
				.inputList {
					left: 10px;
				}
				.outputList {
					right: 10px;
				}
			}
			.nodeSelected::after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				border-radius: 8px;
				background: hwb(var(--menuItemHovered) / 0.4);
				border: hwb(var(--menuItemSelected)) 1px solid;
				// backdrop-filter: blur(8px) contrast(110%);
				// mix-blend-mode: darken;
				// opacity: 0.8;
				z-index: -1;
				box-shadow: 0 0 8px 1px hwb(var(--menuItemHovered) / 0.8);
			}
			.line {
				overflow: visible;
				position: absolute;
				width: 1px;
				height: 1px;
				.invisibleLine {
					stroke: transparent;
					stroke-width: 8px;
				}
				.svgLine {
					stroke: currentColor;
					stroke-width: 3px;
					stroke-linecap: round;
				}
				.rect {
					position: absolute;
					height: 22px;
					fill: currentColor;
					transition: width 0.3s cubic-bezier(0.1, 1.2, 0.6, 1);
				}
				.invisibleRect {
					position: absolute;
					height: 22px;
					fill: transparent;
				}
				text {
					position: absolute;
					font-size: 13px;
					stroke: currentColor;
					// filter: url(#filterLineTextFilter);
				}
				&[data-type="V"] {
					color: hwb(var(--video));
				}
				&[data-type="A"] {
					color: hwb(var(--audio));
				}
				&[data-type="N"], &[data-type="U"] {
					color: hwb(var(--unknown));
				}
			}
			.line:not(.line[data-creating="T"]):hover {
				cursor: pointer;
				.svgLine {
					stroke-width: 5px;
				}
				text {
					color: white;
					filter: none;
				}
			}
		}
	}
	.docs {
		position: absolute;
		top: 0px;
		height: 100%;
	}
	.paramsBox {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		.noParams {
			width: 100%;
		}
		.title {
			width: 100%;
			height: 44px;
			overflow: hidden;
			h3 {
				position: relative;
				display: inline-block;
				margin: 0;
				font-size: 18px;
				color: var(--primaryColor);
				font-weight: 600;
				line-height: 44px;	
				.floatBtn {
					position: absolute;
					right: calc(100% + 12px);
					button {
						width: 28px;
						// max-width: 100%;
						padding: 0 6px;
						border-radius: 2px;
						background: #4cae4c;
						color: white;
						opacity: 0.2;
						overflow: hidden;
						text-overflow: clip;
						white-space: nowrap;
						transition: opacity 0.2s linear, width 0.4s cubic-bezier(0.2, 1.5, 0.5, 1);
						&:not(&:active):hover {
							box-shadow: 0 1.5px 4px 0 hwb(var(--hoverShadow) / 0.15);
						}
						&:hover {
							width: 88px;
							opacity: 1;
						}
					}
				}
			}
		}
		.content {
			width: 100%;
			height: calc(100% - 44px);
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;
			overflow: hidden auto;
			:global .controlBox {
				flex: 1 1 auto;
			}
			.belowDetail {
				position: relative;
				width: calc(100% - 28px);
				margin: 8px;
				font-size: 12px;
				opacity: 0.5;
				&::before {
					content: '';
					width: calc(50vw - 160px);
					height: 2px;
					background: linear-gradient(to left, hwb(var(--opposite80) / 0.3), hwb(var(--opposite80) / 0.1));
					display: block;
					position: absolute;
					top: 8px;
					right: calc(50% + 110px);
				}
				&::after {
					content: '';
					width: calc(50vw - 160px);
					height: 2px;
					background: linear-gradient(to right, hwb(var(--opposite80) / 0.3), hwb(var(--opposite80) / 0.1));
					display: block;
					position: absolute;
					top: 8px;
					left: calc(50% + 110px);
				}
			}
			.outputs {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				.output {
					width: 100%;
					height: 40px;
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					.name {
						code {
							font-family: Consolas, monaco, "Noto Mono", "黑体", "苹方-简", "苹方", Roboto;
							border: var(--articleBorder) 1.5px solid;
							border-radius: 6px;
							background-color: var(--articleLightBg);
							padding: 1px 2px;
						}	
					}	
				}
			}	
		}
	}
}
.noFilter {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
	.description {
		margin-top: 12px;
		p {
			font-size: 14px;
			margin: 0.5em;
		}
	}
}
.renamePanel {
	width: calc(200px + 20vw);
	display: flex;
	align-items: center;
	justify-content: stretch;
	gap: 20px;
}

.container[data-color_theme="themeLight"] {
	.toolBox {
		.creatingFilter {
			box-shadow: 0 0px 2px 0.5px hwb(var(--hoverShadow) / 0.15), // 外部阴影
						0 8px 12px hwb(var(--hoverShadow) / 0.1) inset; // 内部凹陷阴影
		}
	}
	.editor {
		.center {
			.node {
				box-shadow: 0 0 1px 0.5px hwb(var(--bg99)),	// 柔和边缘
							0 1px 3px 0 hwb(var(--hoverShadow) / 0.3);	// 外部阴影
				&:hover {
					box-shadow: 0 0 1px 0.5px hwb(var(--bg99)),	// 柔和边缘
								0 0 0 0.5px hwb(var(--highlight)) inset,	// 包边
								0 1px 4px 0 hwb(var(--hoverShadow) / 0.4),	// 外部阴影
				}
				&:active {
					box-shadow: 0 0px 2px 0.5px hwb(var(--hoverShadow) / 0.15), // 外部阴影
								0 8px 12px hwb(var(--hoverShadow) / 0.1) inset; // 内部凹陷阴影
				}
			}
			.nodeCreating {
				.name {
					line-height: 30px;
				}
				&, &:hover {
					box-shadow: 0 0px 2px 0.5px hwb(var(--hoverShadow) / 0.15), // 外部阴影
								0 8px 12px hwb(var(--hoverShadow) / 0.1) inset; // 内部凹陷阴影
				}
			}
			.node .port, .line {
				--video: 285 10% 0%;
				--audio: 120 0% 20%;
				--unknown: 0 55% 45%;
			}
		}
	}
}
.container[data-color_theme="themeDark"] {
	.toolBox {
		.creatingFilter {
			box-shadow: 0 0px 2px 0.5px hwb(var(--hoverShadow) / 0.15), // 外部阴影
						0 8px 12px hwb(var(--hoverShadow) / 0.4) inset; // 内部凹陷阴影
		}
	}
	.editor {
		.center {
			.node {
				box-shadow: 0 0 1px 0.5px hwb(var(--bg99)),	// 柔和边缘
							0 0 0 0.5px hwb(var(--highlight) / 0.5) inset,	// 包边
							0 1px 3px 0 hwb(var(--hoverShadow) / 0.3);	// 外部阴影
				&:hover {
					box-shadow: 0 0 1px 0.5px hwb(var(--bg99)),	// 柔和边缘
								0 0 0 0.75px hwb(var(--highlight)) inset,	// 包边
								0 1px 4px 0 hwb(var(--hoverShadow) / 0.4),	// 外部阴影
				}
				&:active {
					box-shadow: 0 0px 2px 0.5px hwb(var(--hoverShadow) / 0.15), // 外部阴影
								0 8px 12px hwb(var(--hoverShadow) / 0.4) inset; // 内部凹陷阴影
				}
			}
			.nodeCreating:hover {
				box-shadow: 0 0px 2px 0.5px hwb(var(--hoverShadow) / 0.15), // 外部阴影
							0 8px 12px hwb(var(--hoverShadow) / 0.4) inset; // 内部凹陷阴影
			}
			.node .port, .line {
				--video: 285 10% 0%;
				--audio: 120 0% 20%;
				--unknown: 0 55% 45%;
			}
		}
	}
}


.filterDoc {
	height: 100%;
	box-sizing: border-box;
	padding: 0 0 8px 0;
	display: flex;
	flex-direction: column;
	// justify-content: stretch;
	align-items: center;
	.content {
		position: relative;
		height: calc(100% - 28px);
		padding: 12px 16px;
		display: flow-root;
		font-size: 13px;
		text-align: left;
		overflow: auto;
		// .titleLine {
		// 	display: flex;
		// 	align-items: stretch;
		// 	gap: 12px;
		// 	margin: 0 0 12px;
		// 	padding-bottom: 4px;
		// 	border-bottom: #77777733 1.5px solid;
		// 	.title {
		// 		flex: 1 1 auto;
		// 		display: flex;
		// 		align-items: center;
		// 		h3 {
		// 			margin: 0;
		// 			text-align: center;
		// 			color: #4cae4c;
		// 		}
		// 	}
		// 	.description {
		// 		flex: 1 1 auto;
		// 		p:first-child {
		// 			margin-block-start: 0em;
		// 		}
		// 		p:last-child {
		// 			margin-block-end: 0em;
		// 		}
		// 	}

		// }
		.titleLine {
			display: block;
			margin: 0 0 4px;
			// border-bottom: #77777733 1.5px solid;
			font-size: 22px;
			font-weight: 600;
			text-align: center;
			color: var(--titleText);
		}
		.vline {
			display: flex;
			justify-items: stretch;
			align-items: center;
			.lrLine {
				height: 1.5px;
				flex: 1 1 auto;
				background-color: #77777733;
				margin: 0 4px;
			}
			button {
				position: relative;
				height: 24px;
				box-sizing: border-box;
				padding: 0 16px;
				border: none;
				outline: none;
				font-size: 13px;
				line-height: 24px;
				white-space: nowrap;
				color: inherit;
				background-color: hwb(var(--bg99) / 0.8);
				border-radius: 4px;
				box-shadow: 0 0 1px 0.5px hwb(var(--highlight)),
							0 1.5px 3px 0 hwb(var(--hoverShadow) / 0.2);
				&:not(.itemSelected):hover::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: inherit;
					// background: hwb(0 100% 0% / 0.2);
					box-shadow: 0 0 2px hwb(var(--hoverShadow) / 0.2);
					z-index: 1;
				}				
				&:not(&:nth-child(2)) {
					margin-left: 24px;
					&::before {
						content: '';
						position: absolute;
						top: calc(50% - 0.75px);
						right: calc(100% + 4px);
						display: block;
						height: 1.5px;
						width: 16px;
						background-color: #77777733;
					}
				}
			}
			.itemSelected {
				background-color: hwb(var(--bg97) / 0.8);
				border-radius: 3px 4px 4px 3px;
				box-shadow: 0 0 2px 1px hwb(var(--hoverShadow) / 0.05), // 外部阴影
							0 3px 6px hwb(var(--hoverShadow) / 0.1) inset; // 内部凹陷阴影
			}
		}
		p {
			margin-left: 18px;
			&:not(.ioDesc)::before {
				content: '🔸';
				display: block;
				position: absolute;
				left: 12px;
			}
		}
		.ioDesc {
			font-style: italic;
		}
		table {
			margin: 8px auto;
			border-spacing: 0;
			border-collapse: collapse;
			font-size: 13px;
			box-shadow: 0px 2px 4px var(--articleLightBg);
			tbody>tr:nth-child(2n-1) {
				background-color: var(--articleLightBg);
			}
			td, th {
				border: var(--articleBorder) 1.5px solid;
				border-collapse: collapse;
				padding: 4px 10px;
			}
			th {
				font-weight: 600;
			}
		}
		pre {
			font-family: Consolas, monaco, "Noto Mono", "黑体", "苹方-简", "苹方", Roboto;
			border: var(--articleBorder) 1.5px solid;
			border-radius: 6px;
			background-color: var(--articleLightBg);
			padding: 1px 2px;
			white-space: normal;
			overflow-wrap: anywhere;
			user-select: text;
		}
		&>i {
			display: inline-block;
			margin-left: 18px;
			font-size: 10px;
			opacity: 0.5;
			font-style: normal;
			&::before {
				content: '*';
				display: block;
				position: absolute;
				left: 20px;
			}
		}
	}
	.noDoc {
		width: 100%;
		height: calc(100% - 28px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: auto;
		svg {
			width: 128px;
			height: 128px;
			margin-bottom: 8px;
		}
		.description {
			margin-top: 12px;
			p {
				margin: 0.5em;
				font-size: 14px;
			}
		}
	}	
}
