.container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	// align-items: center;	/* 一行 */
	/* align-content: space-between;	 多行 */
	justify-content: center;
	font-size: 14px;
	.dragger {
		position: absolute;
		height: 100%;
		width: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 -8px;
		z-index: 1;	// 为了防止被 .right 遮住
		cursor: ew-resize;
		// outline: green 1px solid;
		&::after {
			content: '';
			height: calc(100% - 24px);
			width: 4px;
			// background-color: hwb(var(--opposite80)  / 0.2);
			border-radius: 2px;
			background-color: hwb(var(--hoverLightBg) / 0.5);
			box-shadow: 0.5px 1px 4px hwb(var(--hoverShadow) / 0.2),    // 阴影（写在最前面，渲染时最后渲染）
						0 0 0.5px 1.5px hwb(var(--hoverLightBg)), // 斜坡，其中扩展半径是斜坡长度，模糊半径是斜坡底的缓坡
						0 1px 1px 0px hwb(var(--highlight) / 0.5) inset;	// 上高光
			pointer-events: none;
		}
	}
	.toolBox {
		height: 100%;
		box-sizing: border-box;
		text-align: left;
		// outline: red 1px solid;
		.search {
			height: 44px;
			display: flow-root;
			:global .inputbox-selector {
				margin: 12px;
			}
		}
		.filtersList {
			height: calc(100% - 88px);
			overflow: auto;
			.item {
				// width: 40px;
				height: 30px;
				box-sizing: border-box;
				padding: 0 8px 0 12px;
				position: relative;
				outline: none;
				border: none;
				margin: 6px;
				font-size: 13px;
				line-height: 30px;
				white-space: nowrap;
				text-overflow: ellipsis;
				color: inherit;
				background-color: hwb(var(--bg99) / 0.8);
				border-radius: 4px;
				border-left: transparent 3px solid;
				box-shadow: 0 0 1px 0.5px hwb(var(--highlight)),
							0 1.5px 3px 0 hwb(var(--hoverShadow) / 0.2);
				overflow: hidden;
				transition: all 0.3s cubic-bezier(0, 1.5, 0.3, 1);
				&:not(&:active):hover::after {
					content: '';
					position: absolute;
					top: 0;
					left: -3px;
					width: calc(100% + 3px);
					height: 100%;
					border-radius: inherit;
					// background: hwb(0 100% 0% / 0.2);
					box-shadow: 0 0 2px hwb(var(--hoverShadow) / 0.2);
					z-index: 1;
				}
				* {
					user-select: none;
					-webkit-user-drag: none;
				}
				&:active {
					background-color: hwb(var(--bg97) / 0.8);
					border-radius: 3px 4px 4px 3px;
					box-shadow: 0 0 2px 1px hwb(var(--hoverShadow) / 0.05), // 外部阴影
								0 3px 6px hwb(var(--hoverShadow) / 0.1) inset; // 内部凹陷阴影
					border-left: #49e 3px solid;	
				}
			}
		}
		.operations {
			height: 44px;
			display: flex;
			justify-content: stretch;
			align-items: center;
			padding: 0 16px;
			button {
				flex: 1 1 auto;
			}
		}
	}
	.editor {
		position: relative;
		overflow: hidden;
		.center {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 0;
			height: 0;
			.test {
				position: absolute;
				outline: red 1px solid;
				width: 100px;
				height: 50px;
			}
			.xline {
				position: absolute;
				top: 0;
				left: -9999px;
				right: -9999px;
				outline: #77777733 0.5px dashed;
			}
			.yline {
				position: absolute;
				left: 0;
				top: -9999px;
				bottom: -9999px;
				outline: #77777733 0.5px dashed;
			}
			.node {
				position: absolute;
				width: 120px;
				background: linear-gradient(180deg, hwb(var(--bg99)), hwb(var(--bg94)));
				border-radius: 8px;
				transform: translate(-50%, -50%);
				// transition: all 0.04s cubic-bezier(0.2, 1, 0.8, 1);
				cursor: grab;
				.inputList, .outputList {
					position: absolute;
					top: 10px;
					bottom: 10px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 5px;
					.port {
						width: 10px;
						height: 10px;
						border-radius: 5px;
						cursor: crosshair;
						&[data-type="V"] {
							background-color: hwb(var(--video));
							box-shadow: 0 2px 6px hwb(var(--video) / 0.4);
						}
						&[data-type="A"] {
							background-color: hwb(var(--audio));
							box-shadow: 0 2px 6px hwb(var(--audio) / 0.4);
						}
						&[data-type="N"], &[data-type="U"] {
							background-color: hwb(var(--unknown));
							box-shadow: 0 2px 6px hwb(var(--unknown) / 0.4);
						}
					}
				}
				.inputList {
					left: 10px;
				}
				.outputList {
					right: 10px;
				}
			}
			.line {
				overflow: visible;
				position: absolute;
				width: 1px;
				height: 1px;
				.invisibleLine {
					stroke: transparent;
					stroke-width: 8px;
				}
				.svgLine {
					stroke: currentColor;
					stroke-width: 3px;
					stroke-linecap: round;
				}
				.rect {
					position: absolute;
					height: 22px;
					fill: currentColor;
					transition: width 0.3s cubic-bezier(0.1, 1.2, 0.6, 1);
				}
				.invisibleRect {
					position: absolute;
					height: 22px;
					fill: transparent;
				}
				text {
					position: absolute;
					font-size: 13px;
					stroke: currentColor;
					// filter: url(#filterLineTextFilter);
				}
				&[data-type="V"] {
					color: hwb(var(--video));
				}
				&[data-type="A"] {
					color: hwb(var(--audio));
				}
				&[data-type="N"], &[data-type="U"] {
					color: hwb(var(--unknown));
				}
			}
			.line:not(.line[data-creating="T"]):hover {
				cursor: pointer;
				.svgLine {
					stroke-width: 5px;
				}
				text {
					color: white;
					filter: none;
				}
			}
		}
	}
	.editor[data-color_theme="themeLight"] {
		.center {
			.node {
				box-shadow: 0 0 1px 0.5px hwb(var(--bg99)),	// 柔和边缘
							0 1px 3px 0 hwb(var(--hoverShadow) / 0.3);	// 外部阴影
				&:hover {
					box-shadow: 0 0 1px 0.5px hwb(var(--bg99)),	// 柔和边缘
								0 0 0 0.5px hwb(var(--highlight)) inset,	// 包边
								0 1px 4px 0 hwb(var(--hoverShadow) / 0.4),	// 外部阴影
				}
				&:active {
					box-shadow: 0 0px 2px 0.5px hwb(var(--hoverShadow) / 0.15), // 外部阴影
								0 8px 12px hwb(var(--hoverShadow) / 0.1) inset; // 内部凹陷阴影
				}
			}
			.node .port, .line {
				--video: 285 10% 0%;
				--audio: 120 0% 20%;
				--unknown: 0 55% 45%;
			}
		}
	}
	.editor[data-color_theme="themeDark"] {
		.center {
			.node {
				box-shadow: 0 0 1px 0.5px hwb(var(--bg99)),	// 柔和边缘
							0 0 0 0.5px hwb(var(--highlight) / 0.5) inset,	// 包边
							0 1px 3px 0 hwb(var(--hoverShadow) / 0.3);	// 外部阴影
				&:hover {
					box-shadow: 0 0 1px 0.5px hwb(var(--bg99)),	// 柔和边缘
								0 0 0 0.75px hwb(var(--highlight)) inset,	// 包边
								0 1px 4px 0 hwb(var(--hoverShadow) / 0.4),	// 外部阴影
				}
				&:active {
					box-shadow: 0 0px 2px 0.5px hwb(var(--hoverShadow) / 0.15), // 外部阴影
								0 8px 12px hwb(var(--hoverShadow) / 0.4) inset; // 内部凹陷阴影
				}
			}
			.node .port, .line {
				--video: 285 10% 0%;
				--audio: 120 0% 20%;
				--unknown: 0 55% 45%;
			}
		}
	}
	.paramsBox {
		height: 100%;
		// outline: blue 1px solid;
		overflow: hidden auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;	/* 一行 */
		/* align-content: space-between;	 多行 */
		justify-content: space-around;	
		font-size: 9px;
	}
}
.noFilter {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.renamePanel {
	width: calc(200px + 20vw);
	display: flex;
	align-items: center;
	justify-content: stretch;
	gap: 20px;
}
